[Unit]
Description=Easy ADS-B Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/easyadsb
ExecStart=/usr/bin/docker compose -p "easyadsb" up -d
ExecStop=/usr/bin/docker compose -p "easyadsb" down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
