[Unit]
Description=Easy ADS-B Updater Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/easyadsb/updater/app
ExecStart=/usr/bin/python main.py
TimeoutStartSec=0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
