[Unit]
Description=Easy ADS-B GUI Service
After=easyadsb-core.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/easyadsb/gui-qml/
ExecStart=/usr/bin/sh launch.sh
TimeoutStartSec=0
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
